<%= render 'shared/nav' %>
<div class="empty-top"></div>

<h2 class="title">Помощь храму</h2>

<div class="container">
  <div class="row">
    <div class="col-12">
      <p><strong>Адрес:</strong> 628285, РФ, Ханты-Мансийский автономный округ - Югра, город Урай, улица Узбекистанская, дом 6</p>
      <p><strong>E-mail:</strong> rpc-uray@mail.ru</p>
      <p><strong>Телефон</strong> (факс) организации (с кодом): (34676) 34204, 29029, 32218</p>
      <p><strong>Наши реквизиты:</strong></p>
      <p>Местная религиозная организация православный Приход храма Рождества Пресвятой Богородицы г.Урая Ханты-Мансийского
        автономного округа-Югры Тюменской области Ханты-Мансийской Епархии Русской Православной Церкви (Московский Патриархат)</p>
      <p><strong>ИНН</strong> организации: 8606002829</p>
      <p><strong>Расчетный счет:</strong> 40703810967340100166</p>
      <p><strong>БИК:</strong> 047102651 в Западно-Сибирский банк, Сбербанка РФ г.Тюмень</p>
      <p><strong>Регион:</strong> Ханты-Мансийский автономный округ-Югра</p>
      <p><strong>Город:</strong> Урай</p>
      <p><strong>Дата регистрации:</strong> 1999 год</p>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>