<%= render 'shared/nav' %>
<div class="empty-top"></div>

<div class="container">
  <div class="row title" style="height: calc(100vh - 254px)">
    <h2>Записки успешно отправлены</h2>
  </div>
</div>

<%= render 'shared/footer' %>