@import "./variables";

.navbar {
  background-color: white;
  font-size: 13px;
  text-transform: uppercase;
  height: 80px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 1000;
  margin-top: -80px;

  a {
    color: $dark-blue;

    &:hover {
      text-decoration: none;
    }
  }

  &-container {
    padding: 0 15px;
    display: grid;
    grid-template-columns: 15% 70% 15%;

    .logo {
      display: flex;
      align-items: center;
    }

    .menu {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
  
      div {
        padding: 0 10px;
      }
    }
  
    .buttons {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .button {
        display: block;
        padding: 14px 20px;
        font-weight: 900;
    
        &-gold {
          background-color: $gold;
          transition: .3s;

          &:hover {
            background-color: $red-gold;
          }
        }
    
        &-silver {
          background-color: $silver;
          margin-left: 5px;
        }
      }
    }
  }
}

#mobile-menu {
  background-color: rgba(0, 32, 63, .9);
  color: white;
  font-size: 13px;
  text-transform: uppercase;
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  top: 80px;
  z-index: 999;

  a {
    color: white;
  }

  div {
    border-top: 1px solid $blue-border;
    width: 100%;
    font-size: 20px;
    font-weight: 900;
    line-height: 50px;
    text-align: center;

    &:last-child {
      border-bottom: 1px solid $blue-border;
    }
  }
}
