@import url('https://fonts.googleapis.com/css?family=Montserrat:300');

$dark-blue: #051c3d;
$blue: #072147;
$blue-border: #354d6b;
$light-blue: #a5afba;
$red-gold: #f8b665;
$gold: #ddb667;
$pale-gold: #fbf4e7;
$silver: #e7e2db;
$gray-border: #eaeaea;
$gray-text: #9f9f9f;
$gray-icon: #b3b8bb;
$danger: rgb(163, 22, 22);

$main-font: 'Montserrat', sans-serif;