<div class="container-fluid footer">
  <div class="top">
    <span><i class="fab fa-vk"></i> Мы <%= link_to 'Вконтакте', "http://#{@contact.vk_link}" %></span>
    <span><i class="fas fa-envelope"></i> <%= @contact.email %></span>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="address">
        <p><i class="fas fa-home"></i> <%= @contact.small_address %></p>
        <p><i class="fas fa-phone-square"></i> <%= @contact.phone %></p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="links">
        <p><a href="http://yugorsk-eparhia.ru/">Сайт Югорской епархии</a></p>
        <p><a href="http://www.patriarchia.ru/">Сайт Московского Патриархата</a></p>
      </div>
    </div>
  </div>
</div>