<nav class="navbar">
  <div class="navbar-container big-component h-sm h-xs">
    <div class="menu h-sm h-xs">
      <%= render 'shared/menu' %>
    </div>
  </div>
  <div class="navbar-container big-component h-lg h-md">
    <div class="logo">
      <%= image_tag('/uploads/picture/logo.png', alt: 'cross') %>
    </div>
    <div class="h-md h-lg"></div>
    <div class="h-md h-lg">
      <button class="button button-gold" id="burger" onclick="showHideMenu()"><i class="fas fa-bars"></i></button>
    </div>
  </div>
</div>
<div class="h-md h-lg" id="mobile-menu">
  <%= render 'shared/menu' %>
</nav>