<%= render 'shared/nav' %>
<div class="empty-top"></div>

<h2 class="title">История храма</h2>

<div class="container">
  <div class="row">
    <div class="col-12 about-text">
      <%= @text.content.html_safe %>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>