// Place all the styles related to the About controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.about-temple {
  text-align: center;

  div {
    margin-bottom: 30px;
  }
}

.about-links {
  margin-bottom: 30px;

  .about-link {
    text-align: center;
    padding-top: 30px;
  }
}

.about-text {
  text-align: justify;
}